
{%- extends "bootstrap/base.html" %}

{% block title %}Piece Meal{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{fixes.ie8()}}

    {% block styles -%}
        {{super()}}
        <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    {% endblock %}
{%- endblock %}


{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Piece Meal</a>
            </div>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Signin</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
	    {{ super() }}

        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
{#        <script src="{{ url_for('static', filename='js/ingredient.js') }}"></script>#}
        <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/test_token.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-tokenfield.min.js') }}"></script>
    {% endblock %}
{% endblock %}
