<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Edit Client</h1>
  <form action="" method="post" name="edit">
      {{form.hidden_tag()}}
      <table>
          <tr>
              <td>Client Name:</td>
              <td>{{ form.name(size=24) }}</td>
          </tr>
          <tr>
              <td>Client Nickname:</td>
              <td>{{ form.nickname(size=24) }}</td>
          </tr>
          <tr>
              <td>Client email:</td>
              <td>{{ form.email(size=24) }}</td>
          </tr>
          {# <tr>
              <td>About yourself:</td>
              <td>{{ form.about_me(cols=32, rows=4) }}</td>
          </tr> #}
          <tr>
              <td>Client Mobile #:</td>
              <td>{{ form.mobile_phone(size=24) }}</td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Save Changes"></td>
          </tr>
      </table>
  </form>
{% endblock %}