<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Step</h1>
<form action="" method="post" name="edit">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>Order #:</td>
            <td>
                {{ form.order_no(size=24) }}
                {% for error in form.errors.name %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Instructions:</td>
            <td>
                {{ form.instructions(size=50) }}
                {% for error in form.errors.name %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Ingredients:</td>
            <td>
                {% for ingredient in form.ingredients %}
                <p>{{ ingredient }}</p>
                {% endfor %}
                {% for sub_recipe in form.sub_recipes %}
                <p>{{ sub_recipe }}</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>IngredientsV2:</td>
            <td>
                {{ form.ingredients }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
    <div class="select">
        <select aria-label="Select menu example">
            <option selected>Select Ingredient</option>
            {% for ingredient in form.ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
            {% endfor %}
        </select>
    </div>

</form>
{% endblock %}