<!-- extend base layout -->
{% extends "base_new.html" %}

{% block content %}
    <div id="main" class="container">

        <table class="table table-striped">
            <tr>
                <td style="width: 1px;"></td>
                <td><h3>Ingredients</h3></td>
                <td><h3>Options</h3></td>
            </tr>
            <!-- ko foreach: ingredients -->
            <tr>
                <td>
                    <span data-bind="visible: is_allergen()" class="label label-important">Allergen</span>
                    <span data-bind="visible: !is_allergen()" class="label label-success">Generally Safe</span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </td>
                <td><p><b data-bind="text: name"></b></p>
                    <p data-bind="text: description"></p>
                    <p data-bind="text: nutrition"></p>
                    <p data-bind="text: type"></p>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description</h3>
                        </div>
                        <div class="panel-body">
                            <p data-bind="text: description"></p>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nutrition</h3>
                        </div>
                        <div class="panel-body">
                            <p data-bind="text: nutrition"></p>
                        </div>
                    </div>
                    {#<p data-bind="template: { name: 'nestedTmpl', 'if': _links, data: _links }"></p></td>#}
                <td>
                    <button data-bind="click: $parent.beginEdit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </button>
                    <button data-bind="click: $parent.remove" class="btn">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete
                    </button>
            <span data-bind="visible: is_allergen()">
                <button data-bind="click: $parent.markNotAllergen" class="btn btn-success">Mark As Safe</button>
            </span>
            <span data-bind="visible: !is_allergen()">
                <button data-bind="click: $parent.markAllergen" class="btn btn-danger">Mark As Allergen</button>
            </span>
                </td>
            </tr>
            <!-- /ko -->
        </table>

        <button data-bind="click: beginAdd" type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                data-target="#addIngredient">
            Add Ingredient
        </button>


    </div>

    {#    #}
    <div id="addIngredient" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Add Ingredient</h2>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputIngredient">Ingredient</label>
                            <div class="controls">
                                <input data-bind="value: name" type="text" id="inputIngredient"
                                       placeholder="Ingredient name"
                                       style="width: 150px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">

                            <textarea class="form-control" rows="5" id="inputDescription" placeholder="Description"
                                      style="width: 300px;"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputNutrition">Nutrition</label>
                            <div class="controls">
                                <input data-bind="value: nutrition" type="text" id="inputNutrition"
                                       placeholder="Nutrition" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputAllergen">Is Allergen</label>
                            <div class="controls">
                                <input data-bind="checkedValue: $data, checked: is_allergen" type="checkbox"
                                       id="inputAllergen"
                                       placeholder="Is Allergen" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputType">Type</label>
                            <div class="controls">
                                <input data-bind="value: type" type="text" id="inputType"
                                       placeholder="Type" style="width: 300px;">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button data-bind="click: addIngredient" class="btn btn-info">Add Ingredients</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>



    <div id="edit" class="modal hide fade" tabindex="-1" aria-labelledby="editDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="editDialogLabel">Edit Ingredient</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputIngredient">Ingredient</label>
                            <div class="controls">
                                <input data-bind="value: name" type="text" id="inputIngredient"
                                       placeholder="Ingredient name"
                                       style="width: 150px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                                <textarea data-bind="value: description" class="form-control" rows="5"
                                          id="inputDescription" placeholder="Description"
                                          style="width: 300px;"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputNutrition">Nutrition</label>
                            <div class="controls">
                                <input data-bind="value: nutrition" type="text" id="inputNutrition"
                                       placeholder="Nutrition" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputAllergen">Is Allergen</label>
                            <div class="controls">
                                <input data-bind="checkedValue: $data, checked: is_allergen" type="checkbox"
                                       id="inputAllergen"
                                       placeholder="Is Allergen" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputType">Type</label>
                            <div class="controls">
                                <input data-bind="value: type" type="text" id="inputType"
                                       placeholder="Type" style="width: 300px;">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button data-bind="click:editIngredient" class="btn btn-primary">Update Ingredient</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}