<!-- extend base layout -->
{% extends "base_new.html" %}

{% block content %}
    <html>
    <head>
        <title>Piece Meal API Client Demo</title>
        {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"#}
        {#              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"#}
        {#              crossorigin="anonymous">#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"#}
        {#                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"#}
        {#                crossorigin="anonymous"></script>#}
    </head>
    <body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Peace Meal API Client Demo</a>
        </div>
    </div>
    <div id="main" class="container">

        <table class="table table-striped">
            <tr>
                <td style="width: 1px;"></td>
                <td><h3>Ingredients</h3></td>
                <td><h3>Options</h3></td>
            </tr>
            <!-- ko foreach: ingredients -->
            <tr>
                <td>
                    <span data-bind="visible: is_allergen()" class="label label-important">Allergen</span>
                    <span data-bind="visible: !is_allergen()" class="label label-success">Generally Safe</span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </td>
                <td><p><b data-bind="text: name"></b></p>
                    <p data-bind="text: description"></p>
                    <p data-bind="text: nutrition"></p>
                    <p data-bind="text: type"></p>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description</h3>
                        </div>
                        <div class="panel-body">
                            <p data-bind="text: description"></p>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nutrition</h3>
                        </div>
                        <div class="panel-body">
                            <p data-bind="text: nutrition"></p>
                        </div>
                    </div>
                    {#<p data-bind="template: { name: 'nestedTmpl', 'if': _links, data: _links }"></p></td>#}
                <td>
                    <button data-bind="click: $parent.beginEdit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </button>
                    <button data-bind="click: $parent.remove" class="btn">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete
                    </button>
            <span data-bind="visible: is_allergen()">
                <button data-bind="click: $parent.markNotAllergen" class="btn btn-success">Mark As Safe</button>
            </span>
            <span data-bind="visible: !is_allergen()">
                <button data-bind="click: $parent.markAllergen" class="btn btn-danger">Mark As Allergen</button>
            </span>
                </td>
            </tr>
            <!-- /ko -->
        </table>
        <button data-bind="click: beginAdd" class="btn btn-info">Add Ingredient</button>

    </div>


    <div id="add" class="modal hide fade" tabindex="-1" aria-labelledby="addDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="addDialogLabel">Add Ingredient</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputIngredient">Ingredient</label>
                            <div class="controls">
                                <input data-bind="value: name" type="text" id="inputIngredient"
                                       placeholder="Ingredient name"
                                       style="width: 150px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                                {#                    <input data-bind="value: description" type="text" id="inputDescription"#}
                                {#                           placeholder="Description" style="width: 300px;">#}
                    <textarea class="form-control" rows="5" id="inputDescription" placeholder="Description"
                              style="width: 300px;"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputNutrition">Nutrition</label>
                            <div class="controls">
                                <input data-bind="value: nutrition" type="text" id="inputNutrition"
                                       placeholder="Nutrition" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputAllergen">Is Allergen</label>
                            <div class="controls">
                                <input data-bind="checkedValue: $data, checked: is_allergen" type="checkbox"
                                       id="inputAllergen"
                                       placeholder="Is Allergen" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputType">Type</label>
                            <div class="controls">
                                <input data-bind="value: type" type="text" id="inputType"
                                       placeholder="Type" style="width: 300px;">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: addIngredient" class="btn btn-info">Add Ingredient</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div id="edit" class="modal hide fade" tabindex="-1" aria-labelledby="editDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="editDialogLabel">Edit Ingredient</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputIngredient">Ingredient</label>
                            <div class="controls">
                                <input data-bind="value: name" type="text" id="inputIngredient"
                                       placeholder="Ingredient name"
                                       style="width: 150px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                                <textarea data-bind="value: description" class="form-control" rows="5"
                                          id="inputDescription" placeholder="Description"
                                          style="width: 300px;"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputNutrition">Nutrition</label>
                            <div class="controls">
                                <input data-bind="value: nutrition" type="text" id="inputNutrition"
                                       placeholder="Nutrition" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputAllergen">Is Allergen</label>
                            <div class="controls">
                                <input data-bind="checkedValue: $data, checked: is_allergen" type="checkbox"
                                       id="inputAllergen"
                                       placeholder="Is Allergen" style="width: 300px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputType">Type</label>
                            <div class="controls">
                                <input data-bind="value: type" type="text" id="inputType"
                                       placeholder="Type" style="width: 300px;">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bind="click:editIngredient" class="btn btn-primary">Update Ingredient</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function IngredientsViewModel() {
            var self = this;
            self.ingredientsURI = 'http://localhost:5000/piece-meal/api/v1.0/ingredients';
            self.username = "monty";
            self.password = "python";
            self.ingredients = ko.observableArray();

            self.ajax = function (uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization",
                                "Basic " + btoa(self.username + ":" + self.password));
                    },
                    error: function (jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }

            self.beginAdd = function () {
                $('#add').modal('show');
            }
            self.beginEdit = function (ingredient) {
                editIngredientViewModel.setIngredient(ingredient);
                $('#edit').modal('show');
            }

            self.edit = function (ingredient, data) {
                self.ajax(ingredient.uri(), 'PUT', data).done(function (res) {
                    self.updateIngredient(ingredient, res.ingredient);
                });
                {#                alert(JSON.stringify(data));#}
            }

            self.updateIngredient = function (ingredient, newIngredient) {
                var i = self.ingredients.indexOf(ingredient);
                self.ingredients()[i].uri(newIngredient.uri);
                self.ingredients()[i].name(newIngredient.name);
                self.ingredients()[i].description(newIngredient.description);
                self.ingredients()[i].nutrition(newIngredient.nutrition);
                self.ingredients()[i].is_allergen(newIngredient.is_allergen);
                self.ingredients()[i].type(newIngredient.type);
            }

            self.remove = function (ingredient) {
                self.ajax(ingredient.uri(), 'DELETE').done(function () {
                    self.ingredients.remove(ingredient);
                    alert(ingredient);
                });
            }

            self.markNotAllergen = function (ingredient) {
                self.ajax(ingredient.uri(), 'PUT', {is_allergen: false}).done(function (res) {
                    self.updateIngredient(ingredient, res.ingredient);
                });
            }

            self.markAllergen = function (ingredient) {
                self.ajax(ingredient.uri(), 'PUT', {is_allergen: true}).done(function (res) {
                    self.updateIngredient(ingredient, res.ingredient);
                });
            }

            self.ajax(self.ingredientsURI, 'GET').done(function (data) {
                for (var i = 0; i < data.ingredients.length; i++) {
                    self.ingredients.push({
                        uri: ko.observable(data.ingredients[i].uri),
                        type: ko.observable(data.ingredients[i].type),
                        name: ko.observable(data.ingredients[i].name),
                        description: ko.observable(data.ingredients[i].description),
                        nutrition: ko.observable(data.ingredients[i].nutrition),
                        is_allergen: ko.observable(data.ingredients[i].is_allergen)
                    });
                }
            });

            self.add = function (ingredient) {
                self.ajax(self.ingredientsURI, 'POST', ingredient).done(function (data) {
                    self.ingredients.push({
                        uri: ko.observable(data.ingredient.uri),
                        name: ko.observable(data.ingredient.name),
                        description: ko.observable(data.ingredient.description),
                        nutrition: ko.observable(data.ingredient.nutrition),
                        is_allergen: ko.observable(data.ingredient.is_allergen),
                        type: ko.observable(data.ingredient.type)
                    });
                });
            }
        }

        function AddIngredientViewModel() {
            var self = this;
            self.name = ko.observable();
            self.description = ko.observable();
            self.nutrition = ko.observable();
            self.is_allergen = ko.observable();
            self.type = ko.observable();

            self.addIngredient = function () {
                $('#add').modal('hide');
                var data = {
                    name: self.name(),
                    nutrition: self.nutrition(),
                    description: self.description(),
                    is_allergen: self.is_allergen(),
                    type: self.type()
                };
                ingredientsViewModel.add(data);
                self.name("");
                self.description("");
                self.nutrition("");
                self.is_allergen(false);
                self.type();
            }
        }

        function EditIngredientViewModel() {
            var self = this;
            self.name = ko.observable();
            self.description = ko.observable();
            self.nutrition = ko.observable();
            self.is_allergen = ko.observable();
            self.type = ko.observable();

            self.setIngredient = function (ingredient) {
                self.ingredient = ingredient;
                self.name(ingredient.name());
                self.description(ingredient.description());
                self.nutrition(ingredient.nutrition());
                self.is_allergen(ingredient.is_allergen());
                self.type(ingredient.type());
                $('edit').modal('show');
            }

            self.editIngredient = function () {
                $('#edit').modal('hide');
                ingredientsViewModel.edit(self.ingredient, {
                    name: self.name(),
                    description: self.description(),
                    nutrition: self.nutrition(),
                    is_allergen: self.is_allergen(),
                    type: self.type()
                });
            }
        }

        var ingredientsViewModel = new IngredientsViewModel();
        var addIngredientViewModel = new AddIngredientViewModel();
        var editIngredientViewModel = new EditIngredientViewModel();
        ko.applyBindings(ingredientsViewModel, $('#main')[0]);
        ko.applyBindings(addIngredientViewModel, $('#add')[0]);
        ko.applyBindings(editIngredientViewModel, $('#edit')[0]);

    </script>
    </body>
    </html>
{% endblock %}