<!-- extend from base layout -->
{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Piece Meal -- Sign Up
{% endblock %}

{% block content %}
<div class="container">
    <section>
        <h1 style="clear:both">Create an Account</h1>
        <form action="" method="post" class="col s12">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="input-field col s6">
                {{ render_field(form.username, size=50, type="email") }}
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                {{ render_field(form.email, size=50) }}
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                {{ render_field(form.password, size=50) }}
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                {{ render_field(form.password2, size=50) }}
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s3">
                    {#{{ render_field(form.submit) }}#}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </section>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
